@import "../../../../styles/variables.scss";

.media-wrapper {
  width: 320px;
  height: 600px;

  max-width: 320px;
  max-height: 600px;

  overflow: hidden;

  position: absolute;

  top: 0; right: 0;
}

.media-box-wrapper {

}
