@import "../../../../styles/variables.scss";

.media-wrapper {
  height: 600px;

  max-height: 600px;

  overflow: hidden;

  border-left: 1px solid $light-gray;

  float: right;

  background-color: white;

  z-index: 1000;
}

.modal-body {
  .close-btn-wrapper {
    button {
      display: block;
      float: right;

      border: 1px solid red;
    }
  }

  .empty-room {
    font-size: 1.2em;
  }

  .empty-room-url {
    width: 100%;
    float: left;

    color: $orangeBold;
  }
}

