<div class="wrapper">
    <div class="member-box" *ngFor="let member of members | keyvalue; trackBy: fnTrackBy">
        <app-member-box
                [memberIdentifier]="member.key"
                (onCreateOffer)="onCreateOffer($event)"
                (onIceCandidate)="onIceCandidate($event)"
                [sessionUpdated]="sessionUpdated.asObservable()"
                [iceAnswer]="iceAnswer.asObservable()"
                [iceCandidate]="iceCandidate.asObservable()">
        </app-member-box>
    </div>
</div>
