@import "../../../styles/variables.scss";


.not-found {
  margin-top: 50px;

  .title {
    font-family: "Amatic SC", cursive;
    font-size: 5em;
    text-align: center;
    color: $orangeBold;
  }

  .not-found-status {
    color: $orangeBold;
    font-weight: bolder;
    font-size: 10em;
    text-align: center;
    font-family: "Amatic SC", cursive;

    margin-top: 50px;
  }

  .text {
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
  }
}
