<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" [routerLink]="['/']">
                Caffe world
            </a>
        </div>

        <div data-color="orange">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link about" href="">
                      <p class="nav-text about-text">About</p>
                  </a>
              </li>

              <li class="nav-item">
                  <a class="nav-link limitations" href="">
                      <p class="nav-text limitations-text">Limitations</p>
                  </a>
              </li>
            </ul>
        </div>
    </div>
</nav>
