$navColor: #f46624;

.nav-link .nav-text, .navbar-brand {
  font-size: 1.5em;
}

.navbar {
  background-color: white !important;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 0;
}

.nav-text {
  color: gray;
}

.logo {
  color: gray !important;
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
}
