@import "../../../../../../styles/variables.scss";

.activity-wrapper {
  position: relative;

  .content {
    width: 60%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    height: 500px;
    max-height: 500px;
  }

  .inner-content {
    width: 100%;
    float: left;

    height: 400px;

    overflow: scroll;

    .message {
      padding: 15px;
      color: gray;
      width: 80%;

      border-radius: 40px;

      margin-top: 10px;
    }

    .incoming-message {
      float: left;
      background-color: lightgreen;
      margin-left: 5px;
    }

    .outgoing-message {
      float: right;
      background-color: lightblue;
      margin-right: 5px;
    }
  }

  .chat-wrapper {
    width: 100%;
    float: left;

    input {
      display: block;
      float: left;
      width: 70%;
    }

    button {
      display: block;
      float: right;
      width: 20%;

      font-size: 1.2em;
    }

    .message-input {
      width: 100%;
      font-size: 1.2em;

      resize: none;
    }

    .btn-default {
      width: 200px;
      float: left;
    }
  }
}

@media (max-width: 780px) {
  .activity-wrapper {
    margin-top: 350px;
  }
}
