
<div class="activity-wrapper col-md-9 col-lg-9 col-xs-9">
    <div class="content" #contentElem>
        <div class="inner-content">
            <div *ngFor="let message of messages" [ngClass]="['message', message.class]">{{message.msg}}</div>
        </div>

        <div class="chat-wrapper">
            <form #chatForm="ngForm" (ngSubmit)="onSend()">
                <textarea [(ngModel)]="message" name="message" class="form-control message-input" rows="2" placeholder="type your message"></textarea>
                <button class="btn btn-primary">Send</button>
                <button class="btn btn-default">About this room</button>
            </form>

        </div>
    </div>

</div>
