@import "../../../../styles/variables.scss";

.create-room {
  margin-top: 50px;

  .form {
    margin-top: 50px;
  }

  h4 {
    text-align: center;
    border-bottom: $light-gray;
    font-family: "Amatic SC", cursive;
    font-size: 3em;
    word-spacing: 0.2em;

    margin-bottom: 80px;
  }

  .intro-text {
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto;

    margin-bottom: 20px;

    a {
      color: $orangeBold;
      font-weight: bold;
    }
  }

  .intro-text:last-child {
    color: $orangeBold;
    font-weight: bold;
    font-family: "Amatic SC", cursive;
    font-size: 2.5em;
  }

  .form-element {
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;

    padding: 15px;

    border-bottom: 1px solid $light-gray;

    .label-mandatory {
      color: red;
      margin-left: 5px;
    }

    .input-info-message {
      display: block;
      float: right;
      color: $orangeBold;
      font-style: italic;
      text-align: right;
    }

    .max-length-message {
      width: 100%;
      display: block;
      float: left;
      font-size: 0.9em;

      margin-left: 14px;
    }

    .info-message {
      width: 100%;
      display: block;
      float: left;
      font-size: 0.9em;

      margin-left: 14px;
      margin-top: 15px;
      font-style: italic;
    }

    .field-info {
      position: absolute;
      color: gray;
      top: 10px; right: 20px;
      font-size: 2em;
    }

    .label {
      float: left;
      font-size: 1.2em;

      margin-top: 11px;
    }

    .input {
      float: right;

      padding: 25px;
      font-size: 1.2em;

      border: 1px solid $light-gray;
    }

    .textarea {
      border: 1px solid $light-gray;
      border-radius: 20px;
      font-size: 1.2em;

      display: block;
      float: left;

      margin-top: 20px;
    }

    .error {
      float: left;
      padding: 0;
      padding-top: 13px;
      position: relative;

      i {
        position: absolute;
        top: 15px; right: 15px;
      }
    }

    .unrecoverable-error {
      border-radius: 40px;
      float: right;
      margin-top: 30px;
    }
  }

  .btn-get-a-table {
    font-size: 1.2em;
    display: block;
    float: right;
    border-radius: 40px;
  }

  .btn-get-a-table:disabled {
    background-color: #fcc0a6;

    &:hover {
      box-shadow: none;
      background-color: #fcc0a6 !important;
      cursor: default;
    }
  }

  .btn:disabled {
    background-color: #fcc0a6;
    opacity: 1 !important;
  }

  .coffee-date {
    float: left !important;
  }
}

.modal-header h5 {
  font-weight: normal;
  text-align: left;
}

.modal-body {
  .modal-share-wrapper {
    width: 100%;
    float: left;

    position: relative;

    padding: 20px 0 20px 0;
  }

  .modal-share-button {
    width: 20%;
    float: right;

    border-radius: 40px;
  }

  .modal-url {
    width: 70%;
    float: left;

    padding: 10px;
    border: 1px solid $light-gray;
  }

  .content-copied {
    position: absolute;
    width: 90px;
    opacity: 1;

    bottom: 0;
    right: 136px;

    border: 1px solid $light-gray;
    padding: 10px;

    border-radius: 40px;
    background-color: white;

    text-align: center;
  }
}

.modal-footer {
  display: block;

  .modal-go-to-table-button {
    display: block;
    font-size: 1.2em;
    float: right !important;
    color: white;

    border-radius: 40px;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}
