<div class="wrapper">
    <div>
        <div class="container-fluid create-room col-xl-9">
            <ng-template #content class="modal" role="dialog" tabindex="-1" let-c="close">
                <div class="modal-header justify-content-center">
                    <h5 class="title title-left">Hello, {{roomData.table.nickname}}</h5>
                </div>
                <div class="modal-body">

                    <p class="modal-info">
                        Copy the url and share it with your friends. When your friends visit the url,
                        you will be able to talk to them.
                    </p>

                    <div class="modal-share-wrapper">
                        <p class="modal-url">{{roomData.room.url}}</p>
                        <p [hidden]="!copied" class="content-copied animated fadeIn">Copied!</p>
                        <button class="btn btn-default modal-share-button"(click)="onCopy()">COPY</button>
                    </div>
                </div>

                <div class="modal-footer">
                    <a (click)="goToTable(roomData.room.url)" class="btn btn-primary modal-go-to-table-button">Go to your table</a>
                </div>

            </ng-template>

            <h4>Create a table</h4>

            <div class="row">
                <p class="col-lg-8 intro-text">
                    Hello there. My name is Mario and I have created this application. Take a look at the <a routerLink="/about">About</a> section to find out more.
                </p>

                <p class="col-lg-8 intro-text">
                    You are about to create a table to have some fun with your friends.
                    But before you do, it is important for you to know how I handle your email (or better, not handle it at all!).
                    I need your email only to send the url of the table to you and your friends. After the application sends those emails, they are
                    not used anymore by the application and they are not in any way saved by the application.
                </p>

                <p class="col-lg-8 intro-text">
                    Actually, you don't have to give your email. The only mandatory field is the nickname.
                    Everything else is optional. After you create the table, you can send the url of the table to your
                    friends with some other medium, like facebook or gmail.
                </p>

                <p class="col-lg-8 intro-text">
                    Have fun!
                </p>
            </div>

            <div class="form">
                <form method="POST" #createTableForm="ngForm" (ngSubmit)="onSubmit(createTableForm.valid, content)">
                    <div class="row">
                        <div class="col-lg-8 form-element">
                            <div class="form-group">
                                <label class="col-lg-2 label" for="create-room-name">Nickname:<span class="label-mandatory">*</span></label>
                                <input
                                        class="col-lg-8 input form-control"
                                        type="text"
                                        id="create-room-name"
                                        placeholder="your nickname"
                                        name="nickname"
                                        required
                                        #nickname="ngModel"
                                        maxlength="255"
                                        [(ngModel)]="createTableModel.nickname"
                                />
                                <span class="col-lg-8 input-info-message">Only nickname is mandatory</span>

                                <ngb-alert *ngIf="!nickname.valid && nickname.touched && nickname.errors?.required" class="col-lg-8 error unrecoverable-error" type="info" [dismissible]="false">
                                    <div class="container">
                                        <p>You haven't given us your nickname</p>
                                    </div>
                                </ngb-alert>

                                <ngb-alert *ngIf="nickname.errors?.maxlength" class="col-lg-8 error unrecoverable-error" type="danger" [dismissible]="false">
                                    <div class="container">
                                        <p>Your nickname is too big. Maximum number of characters in a nickname is 255</p>
                                    </div>
                                </ngb-alert>
                            </div>
                        </div>

                        <div class="col-lg-8 form-element">
                            <div class="form-group">
                                <label class="col-lg-2 label" for="create-room-subject">Subject:</label>

                                <input
                                        class="col-lg-8 input form-control"
                                        type="text" id="create-room-subject"
                                        placeholder="a news article, an event ..."
                                        name="subject"
                                        #subject="ngModel"
                                        maxlength="100"
                                        [(ngModel)]="createTableModel.subject"
                                />

                                <ngb-alert *ngIf="subject.errors?.maxlength && subject.touched" class="col-lg-8 error unrecoverable-error" type="danger" [dismissible]="false">
                                    <div class="container">
                                        <p>Your subject is too big. Maximum number of characters for a subject is 100. Yours is {{createTableModel.subject.length}}</p>
                                    </div>
                                </ngb-alert>
                            </div>
                        </div>

                        <div class="col-lg-8 form-element">
                            <div class="form-group subject-description-group">
                                <label class="col-lg-4 label" for="create-room-subject-description">Subject description:</label>

                                <span class="max-length-message">Maximum number of characters is 250. Currently available {{250 - createTableModel.subjectDescription.length}}</span>

                                <textarea
                                        class="col-lg-8 textarea form-control"
                                        rows="4"
                                        cols="80"
                                        id="create-room-subject-description"
                                        placeholder="describe your subject for your friends"
                                        name="subjectDescription"
                                        #subjectDescription="ngModel"
                                        maxlength="250"
                                        [(ngModel)]="createTableModel.subjectDescription">
                                </textarea>

                                <ngb-alert *ngIf="subjectDescription.errors?.maxlength && subjectDescription.touched" class="col-lg-8 error unrecoverable-error" type="danger" [dismissible]="false">
                                    <div class="container">
                                        <p>Your description is too big. Maximum number of characters for a subject description is 250. Yours is {{createTableModel.subjectDescription.length}}</p>
                                    </div>
                                </ngb-alert>
                            </div>

                        </div>

                        <div class="col-lg-8 form-element">
                            <div class="form-group">
                                <label class="col-lg-8 label" for="create-room-friends-message">Say hi to your friends with a brief message:</label>
                                <span class="max-length-message">Maximum number of characters is 100. Currently available {{100 - createTableModel.briefMessage.length}}</span>

                                <textarea
                                        class="col-lg-8 textarea form-control"
                                        rows="4" cols="80"
                                        id="create-room-friends-message"
                                        placeholder="tell your friends to have fun with you with a brief message"
                                        name="briefMessage"
                                        #briefMessage="ngModel"
                                        [(ngModel)]="createTableModel.briefMessage"
                                        maxlength="100">
                                </textarea>

                                <ngb-alert *ngIf="briefMessage.errors?.maxlength && briefMessage.touched" class="col-lg-8 error unrecoverable-error" type="danger" [dismissible]="false">
                                    <div class="container">
                                        <p>Your message is too big. Maximum number of characters for a message is 100. Yours is {{createTableModel.subjectDescription.length}}</p>
                                    </div>
                                </ngb-alert>
                            </div>
                        </div>

                        <div class="col-lg-8 form-element">
                            <button [disabled]="createTableForm.invalid" type="submit" class="btn btn-primary btn-get-a-table">Get a table</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
